<div class="row">
    <div class="column">
        <div class="column-header">
            <h2>Leaderboard</h2>
        </div>
        <mat-card class="example-card">
            <mat-card-content>
                <ng-container *ngIf="global_results">
                    <table mat-table [dataSource]="global_results" class="table">
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> Username </th>
                            <td mat-cell *matCellDef="let element">{{element.username}}</td>
                        </ng-container>
                        <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef> Score </th>
                            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column">
        <div class="column-header">
            <h2>Round</h2>
            <mat-button-toggle-group *ngIf="leaderboard" #group="matButtonToggleGroup">
                <mat-button-toggle *ngFor="let item of leaderboard.rounds" 
                                    (click)="updateRound(item.matchday)"                                      
                                    [checked]="item.matchday == matchday"
                                    value="italic">
                    {{item.matchday}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <mat-card class="example-card">
            <mat-card-header *ngIf="winner">
                <div mat-card-avatar class="example-header-image">
                    <mat-icon color="primary" inline="false" aria-hidden="false" aria-label="Example home icon">mood
                    </mat-icon>
                </div>
                <mat-card-title>{{winner.username}}</mat-card-title>
                <mat-card-subtitle>Score: {{winner.score}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ng-container *ngIf="topRound">
                    <table mat-table [dataSource]="topRound" class="table">
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> Username </th>
                            <td mat-cell *matCellDef="let element">{{element.username}}</td>
                        </ng-container>
                        <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef> Score </th>
                            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
                        </ng-container>
                        <ng-container matColumnDef="timestamp">
                            <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                            <td mat-cell *matCellDef="let element"> {{element.timestmap}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </ng-container>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header *ngIf="loser">
                <div mat-card-avatar class="example-header-image">
                    <mat-icon color="danger" aria-hidden="false" aria-label="">mood_bad</mat-icon>
                </div>
                <mat-card-title>{{loser.username}}</mat-card-title>
                <mat-card-subtitle>Score: {{loser.score}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ng-container *ngIf="wallOfShameRound">
                    <table mat-table [dataSource]="wallOfShameRound" class="table">
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> Username </th>
                            <td mat-cell *matCellDef="let element">{{element.username}}</td>
                        </ng-container>
                        <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef> Score </th>
                            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
                        </ng-container>
                        <ng-container matColumnDef="timestamp">
                            <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                            <td mat-cell *matCellDef="let element"> {{element.timestmap}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </div>
</div>