.table {
    width: 100%;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.example-card {
    margin: 0 5px 10px 5px;
    
}

.mat-icon {
    font-size: 45px;
}

.column-header{
    margin: 0 5px 10px 5px;
}

.fadeout {animation: 1s linear infinite fadeout;}
.fadein {animation: 1s linear fadein ;}

@keyframes fadeout{
    0%{
        color: #000000;
    }

    100%{
        color: #ffffff;
    }
}


@keyframes fadein{
    0%{
        color: #ffffff;
    }

    100%{
        color: #000000;
    }
}