.table {
    width: 100%;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.example-card {
    margin: 0 5px 10px 5px;
    
}

.mat-icon {
    font-size: 45px;
}

.column-header{
    margin: 0 5px 10px 5px;
}

.column-header-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    padding-bottom: 5px;
}