@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');

.example-spacer {
    flex: 1 1 auto;
}

.toolbar{
    background-color: #072146;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #fafafa;
}

div.header-spacer {
    background-color:#f1fafa;
    margin-bottom: 15px;
}
div.header-spacer img{
    height: 50px;
    margin: 10px 10px 10px 0;    
}

.menu-item{margin-right: 15px;}

